* {
    margin: 0;
    padding: 0;
}

div#wrapper {
    margin: 15px;
}

    div#wrapper > div {
        background-color: #ccc7c7;
        width: 695px;
        height: 425px;
        padding: 10px;
        border-radius: 5px;
    }

    div#wrapper div div.holder {
        width: 560px;
        display: inline-block;
        float: left;
    }

        div#wrapper div div.holder img {
            width: 550px;
            border-radius: 5px;
        }

    div#wrapper div div.playlist {
        float: left;
        display: inline-block;
        text-align: center;
        padding-top: 10px;
    }

        div#wrapper div div.playlist ul {
        }

            div#wrapper div div.playlist ul li {
                list-style-type: none;
                border-bottom: 1px solid black;
                padding-bottom: 5px;
                margin-bottom: 5px;
            }

                div#wrapper div div.playlist ul li a {
                    text-decoration: none;
                    color: black;
                }

                div#wrapper div div.playlist ul li:hover a {
                
                    text-decoration:underline;
                
                
                }
                div#wrapper div div.playlist ul li img {
                    border-radius: 10px;
                }

                div#wrapper div div.playlist ul li span {
                    display: block;
                    font-size: 1.1em;
                    color: black;
                    font-weight: bold;
                    margin-top: -7px;
                    text-align: center;
                    padding: 0 10px 0;
                }
